<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Header | CSS component</title>
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <header>
    <div class="menuIcon">
      <i class="bi bi-list"></i>
    </div>
    <div class="companyName">
      SONAR UI
    </div>
    <nav>
      <ul>
        <li><i class="bi bi-brightness-high"></i></li>
        <li><i class="bi bi-bookmarks"></i></li>
        <li><i class="bi bi-code-slash"></i></li>
        <li><i class="bi bi-heart-fill"></i></li>
      </ul>
    </nav>
  </header>
</body>
</html>