<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
  <script src="index.js" defer></script>
</head>
<body class="flex flex-col">
  <section class="flex flex-col">
    <h1 class="heading">Simple</h1>
    <div class="tab grid simple">
      <div class="tab1 flex tab-item" onclick="tabClick(this)">Tab1</div>
      <div class="tab2 flex tab-item" onclick="tabClick(this)">Tab2</div>
      <div class="tab3 flex tab-item" onclick="tabClick(this)">Tab3</div>
    </div>
  </section>
  <section class="flex flex-col">
    <h1 class="heading">Scrollable</h1>  
    <div class="tab flex scrollable">
      <div class="flex tab-item" onclick="tabClick(this)">Tab1</div>
      <div class="flex tab-item" onclick="tabClick(this)">Tab2</div>
      <div class="flex tab-item" onclick="tabClick(this)">Tab3</div>
      <div class="flex tab-item" onclick="tabClick(this)">Tab4</div>
      <div class="flex tab-item" onclick="tabClick(this)">Tab5</div>
      <div class="flex tab-item" onclick="tabClick(this)">Tab6</div>
    </div>
  </section>
  
  <section class="flex flex-col">
    <h1 class="heading">Scrollable with Icons</h1>  
    <div class="tab flex scrollable">
      <div class="flex tab-item" onclick="tabClick(this)">
        <i class="bi bi-bell"></i>
        <p>Tab1</p>
      </div>
      <div class="flex tab-item" onclick="tabClick(this)">
        <i class="bi bi-arrow-repeat"></i>
        <p>Tab2</p>  
      </div>
      <div class="flex tab-item" onclick="tabClick(this)">
        <i class="bi bi-at"></i>
        <p>Tab3</p>
      </div>
      <div class="flex tab-item" onclick="tabClick(this)">
        <i class="bi bi-bullseye"></i>
        <p>Tab4</p>  
      </div>
      <div class="flex tab-item" onclick="tabClick(this)">
        <i class="bi bi-calendar-event"></i>
        <p>Tab5</p>  
      </div>
      <div class="flex tab-item" onclick="tabClick(this)">
        <i class="bi bi-moon-fill"></i>
        <p>Tab6</p>
      </div>
      <div class="flex tab-item" onclick="tabClick(this)">
        <i class="bi bi-telephone-fill"></i>
        <p>Tab7</p>  
      </div>
    </div>
  </section>
</body>
</html>