<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Card  Component| CSS</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>

  <section class="card">
    <div class="row">
      <img src="https://placeimg.com/100/100/nature" alt="hero image">
      <div class="content">
        <h3 class="title">Channa Mereya</h3>
        <label class="author">by Arijit Singh </label>
      </div>
    </div>
    <div class="row feedback">
      <button>Listen</button> 
      <button>Bookmark</button>
      <button class="icon-btn"><i class="gg-heart icon"></i></button>
      <button class="icon-btn"><i class="gg-share icon share"></i></button>
      <button class="icon-btn"><i class="gg-more-vertical-alt icon"></i></button>
    </div>
  </section>

  <section class="card">
    <div class="row" variant="text-over-media">
      <img src="https://placeimg.com/200/100/nature" alt="card image">
      <div class="content text-over-media">
        <h3 class="title">Channa Mereya</h3>
        <label class="author">by Arijit Singh </label>
      </div>
    </div>
    <div class="desc">
      Channa Mereya is a song from the Indian film Ae Dil Hai Mushkil sung by Arijit Singh.
    </div>
    <div class="row feedback">
      <button>Listen</button> 
      <button>Bookmark</button>
      <button class="icon-btn"><i class="gg-heart icon"></i></button>
      <button class="icon-btn"><i class="gg-share icon share"></i></button>
      <button class="icon-btn"><i class="gg-more-vertical-alt icon"></i></button>
    </div>
  </section>

  <section class="card">
    <div class="row" variant="basic">
      <img src="https://placeimg.com/200/200/nature" alt="card image">
      <div class="content" variant="basic">
        <h3 class="title">Channa Mereya</h3>
        <label class="author">by Arijit Singh </label>
      </div>
    </div>
    <div class="desc">
      Channa Mereya is a song from the Indian film Ae Dil Hai Mushkil sung by Arijit Singh.
    </div>
    <div class="row feedback">
      <button>Listen</button> 
      <button>Bookmark</button>
      <button class="icon-btn"><i class="gg-heart icon"></i></button>
      <button class="icon-btn"><i class="gg-share icon share"></i></button>
      <button class="icon-btn"><i class="gg-more-vertical-alt icon"></i></button>
    </div>
  </section>


  <section class="card">
    <div class="row" variant="basic-with-header" >
      <img src="https://placeimg.com/200/200/nature" alt="card image">
      <div class="content" variant="basic">
        <h3 class="title">Channa Mereya</h3>
        <label class="author">by Arijit Singh </label>
      </div>
    </div>
    <div class="desc">
      Channa Mereya is a song from the Indian film Ae Dil Hai Mushkil sung by Arijit Singh.
    </div>
    <div class="row feedback">
      <button>Listen</button> 
      <button>Bookmark</button>
      <button class="icon-btn"><i class="gg-heart icon"></i></button>
      <button class="icon-btn"><i class="gg-share icon share"></i></button>
      <button class="icon-btn"><i class="gg-more-vertical-alt icon"></i></button>
    </div>
  </section>

  <section class="card">
    <div class="row" variant="only-buttons">
      <img src="https://placeimg.com/200/200/nature" alt="card image">
      <div class="content" >
        <h3 class="title">Channa Mereya</h3>
        <label class="author">by Arijit Singh </label>
      </div>
    </div>
    <div class="desc">
      Channa Mereya is a song from the Indian film Ae Dil Hai Mushkil sung by Arijit Singh.
    </div>
    <div class="row feedback" variant="only-buttons">
      <button>Listen</button> 
      <button>Bookmark</button>
      <button class="icon-btn"><i class="gg-heart icon"></i></button>
      <button class="icon-btn"><i class="gg-share icon share"></i></button>
      <button class="icon-btn"><i class="gg-more-vertical-alt icon"></i></button>
    </div>
  </section>


  <section class="card">
    <div class="row" variant="only-buttons">
      <img src="https://placeimg.com/200/200/nature" alt="card image">
      <div class="content" >
        <h3 class="title">Channa Mereya</h3>
        <label class="author">by Arijit Singh </label>
      </div>
    </div>
    <div class="desc">
      Channa Mereya is a song from the Indian film Ae Dil Hai Mushkil sung by Arijit Singh.
    </div>
    <div class="row feedback" variant="only-icons">
      <button>Listen</button> 
      <button>Bookmark</button>
      <button class="icon-btn"><i class="gg-heart icon"></i></button>
      <button class="icon-btn"><i class="gg-share icon share"></i></button>
      <button class="icon-btn"><i class="gg-more-vertical-alt icon"></i></button>
    </div>
  </section>
</body>
</html> 