<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Snackbar | CSS Component</title>                   
  <link rel="stylesheet" href="style.css">
  <script src="index.js" defer></script>
</head>
<body >
  <main class="flex">
      <button  onclick="showDialog1()" class="btn curved-edge btn-open-dialog"> Open Dialog 1 </button>
      <button  onclick="showDialog2()" class="btn curved-edge btn-open-dialog"> Open Dialog 2</button>
      <button  onclick="showDialog3()" class="btn curved-edge btn-open-dialog"> Open Dialog 3</button>
  </main>
  <div class="dialog-wrapper x-y-center layout-ios curved-edge flex" id="dialog1">
    <div class="question flex">
      <h3 class="title" id="title"> Use Location Service? </h3>
      <label for="title" class="subtitle">
        Let us help apps determine your location.
      </label>
    </div>
    <hr>
    <div class="answer flex">
      <button onclick="hideDialog1()" >Confirm</button>
      <button  onclick="hideDialog1()" >Cancel</button>
    </div>
  </div>
  <div class="dialog-wrapper x-y-center layout-android" id="dialog2">
    <div class="question flex">
      <h3 class="title" id="title"> Use Location Service? </h3>
      <label for="title" class="subtitle">
        Let us help apps determine your location. This means sending anonymous data to us, even when no apps are running
      </label>
    </div>
    <div class="answer flex flex-end">
      <button 
        class="btn curved-edge btn-open-dialog"
        onclick="hideDialog2()"
      >Turn On Speed Boost</button>
      <button class="btn curved-edge btn-open-dialog" 
        onclick="hideDialog2()"
      >Remind me Later</button>
      <button class="btn curved-edge btn-open-dialog" 
        onclick="hideDialog2()"
      >No Thanks</button>
    </div>
  </div>
</body>
</html>
