<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Drawer | Css Component</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
    <main>
      <h2 class="heading">Title</h2>
      <label class="subtitle">Subtitle</label>
      <nav>
        <ul>
          <li class="grid">
            <div class="icon">
              <i class="gg-gym"></i>
            </div>
            <span>Workout</span>
          </li>
          <li class="grid">
            <div class="icon">              
              <i class="gg-bookmark"></i>
            </div>
            <span>Bookmarks</span>
          </li>
          <li class="grid">
            <div class="icon">
              <i class="gg-data"></i>
            </div>
            <span>Share</span>
          </li>
          <li class="grid">
            <div class="icon">
              <i class="gg-git-branch"></i>
            </div>
            <span>Repositories</span>
          </li>
          <li class="grid">
            <div class="icon">
              <i class="gg-comment"></i>
            </div>
            <span>Comments</span>
          </li>
          <li class="grid">
            <div class="icon">
              <i class="gg-abstract"></i>
            </div>
            <span>Abstracts</span>
          </li>
          <li class="grid">
            <div class="icon">
              <i class="gg-boy"></i>
            </div>
            <span>Gallery</span>
          </li>
        </ul>
      </nav>
    </main>
</body>
</html> 