<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Badge | Css Component</title>
  <link rel="stylesheet" href="style.css">
  <script defer src="index.js"></script>
</head>
<body>
  <main>
    <ul class="list">
      <li class="list-item">
        text with a badge 
        <span class="badge" >
          <span class="badge-text" >1</span>
        </span> 
      </li>
      <li class="list-item">
        text with a larger badge
        <span class="badge badge-larger" >4</span> 
      </li>
      <li class="list-item">
        Button with a badge on the left 
        <button> 
          Button
          <span class="badge position-top-left" >4</span> 
        </button> 
      </li>
      <li class="list-item">
        Button toggles Button Visibility 
        <button onclick="hideBadge()" > 
          Hide Badge
          <span class="badge" id="badge" >4</span> 
        </button>
      </li>
      <li class="list-item">
        icon with a badge
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
          <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
          <span class="badge icon-badge" >4</span> 
        </svg>

      </li>
    </ul>
  </main>
</body>
</html> 